body{
    margin: 0;
    padding: 0;
}
.header-container-full{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f9f9f9;
}

.header-container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.menu {
    width: 35%;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
}
 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 ul li{
    float: left;
}

 ul li a{
    display: block;
    padding:20px 10px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   
}

.logo img{
    width: 70%;

}

.register ul li {

    float: right;
}

ul li a:hover {
    transform: scale(1.1);
}


.Homepage{
    width: 75%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(6, 143, 82);
    background-position: center;
    background-size: cover;
    /* background-image: url('image/banner.jpg'); */
}




.pagedetail{
    width: 75%;
    height: 500px;
    margin: 0 auto;
    /* background-color: rgb(6, 143, 82); */
    background-position: center;
    background-size: cover;
    /* background-image: url('image/banner.jpg'); */
}

.img-item{
    width: 15%;
    height: 500px;
    margin: 0 auto;
    /* background-color: rgb(192, 151, 16); */
    float: left;
    overflow: auto;

}

.img-item-box{
    width: 80%;
    height: 30%;
    margin: 10%;
    background-color: rgb(230, 226, 213);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.img-item-box img{

    width: 100%;
    height: 100%;
}

.img-display{
    width: 45%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(129, 92, 199);
    float: left;

}

.img-display img{

    width: 100%;
    height: 100%;

}

.order-box{
    width: 35%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(66, 202, 72);
    float: left;

}


.price-box{
    width: 95%;
    height: 15%;
    margin: 2%;
    /* background-color: rgb(67, 32, 194); */
    float: left;

}

.color-box{
    width: 95%;
    height: 35%;
    margin: 2%;
    background-color: rgb(67, 32, 194);
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    overflow:scroll;

}

.color-box .img-color{

     width: 25%;
    height: 70%;
    background-color: bisque;
   


}

.img-color img{

width: 100%;
height: 100%;
}







.size-box{
    width: 95%;
    height: 15%;
    margin: 2%;
    background-color: rgb(67, 32, 194);
    float: left;

}
.qty-box{
    width: 95%;
    height: 15%;
    margin: 2%;
    background-color: rgb(67, 32, 194);
    float: left;

}

.addbag-box{
    width: 95%;
    height: 10%;
    margin: 2%;
    background-color: rgb(67, 32, 194);
    float: left;
}
.delivery-box{
    width: 95%;
    height: 10%;
    margin: 2%;
    background-color: rgb(67, 32, 194);
    float: left;

}


.button-homepage{
    width: 300px;
    height: 50px;
   transform: translateY(420px);
    margin: 0 auto;
    display:  flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(178, 155, 127); */
}

/* From Uiverse.io by SujitAdroja */ 
.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px ;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}



.brand-container{
   
    width: 75%;
    height: 100px;
    margin: 40px auto;
    /* background-color: rgb(245, 245, 245); */
    display: flex;
    justify-content: space-between;
}
.brand-container .box-brand{
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand-container .box-brand img{
    width: 80%;
}


.featured_prd{
    width: 75%;
    /* height: 450px; */
    overflow: hidden;
    /* background-color: beige; */
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.featured_prd .box-image{
    width: 32%;
    height: 450px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.featured_prd .box-image img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.featured_prd .box-image img:hover{
    transform: scale(1.2);
}
.featured_prd .box-image:nth-child(4) , .box-image:nth-child(5){
   width: 49%;
}

.All-Product{
    width: 75%;
    overflow: hidden;
    margin: 15px auto;
}
.All-Product h1{
    font-size: 30px;
    font-family: sans-serif;
    color: #333;
}

.container-product{
    width: 100%;
    height: 380px;
    /* background-color: grey; */
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
}

.card-item{
    width: 24%;
    height: 100%;
    background-color: rgba(223, 233, 229, 0.293);
}

.card-item .image{
    width: 100%;
    height: 80%;

}
.card-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-item .description{
    width: 100%;
    height: 20%;
}   
.card-item .description p{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 18px;
    margin:5px 10px;
}
.card-item .description p del{
    margin-right: 10px;
    color: red;
}

.card-item .discount{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    /* top: 10px;
    left: 10px; */
    padding: 2px 5px ;
    display: flex;
    transform: translate(10px ,10px);
    justify-content: center;
    align-items: center;
    color: white;
    animation: Up_down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes Up_down {
    0%{
        transform: scale(110%) translate(10px ,10px);
    }
    50%{
        transform: scale(100%) translate(10px, 10px);
    }
    100%{
        transform: scale(110%) translate(10px ,10px);
    }
}